<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "http://mybatis.org/dtd/mybatis-3-mapper.dtd" "mybatis-3-mapper.dtd">
<mapper namespace="com.senko.pluginwithdatabase.mapper.PlayerMapper">

    <!--    查-->
    <select id="selectOneByName" resultType="com.senko.pluginwithdatabase.entity.PlayerPO">
        SELECT *
        FROM player
        WHERE name = #{name}
        LIMIT 1
    </select>

    <!--    增-->
    <insert id="insertPlayer"
            parameterType="com.senko.pluginwithdatabase.entity.PlayerPO"
            useGeneratedKeys="true"
            keyProperty="id">
        insert into player(name, uuid) values(#{name}, #{uuid})
    </insert>

    <!--    改-->
    <update id="updatePlayerById">
        UPDATE player SET uuid = #{uuid}, money = #{money}
        WHERE name = #{name}
    </update>

    <!--    删-->
    <delete id="deletePlayer">
        DELETE FROM player
        WHERE name = #{name}
    </delete>
</mapper>